:root {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .95rem;
}

form {
	width: 100%;
	max-width: 400px;
	padding: 10px;
}

form fieldset {
	padding: 10px 10px 10px 20px;
}

form label {
	display: block;
	margin-bottom: 3px;
}

form input {
	margin: 0 0 15px 0;
	width: 100%;
	max-width: 250px;
}

form textarea {
	width: 100%;
	max-width: 350px;
	height: 100px;
	margin: 0 0 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8rem;
}